{% extends "base.html" %}

{% block main %}
<form id="install_form" action="/install" method="POST" novalidate class="mt-5">
<div class="row justify-content-center">
    <div class="col-lg-8 col-sm-10 mb-3">
        <div class="card">
          <h4 class="card-header">{{ _("Server configuration") }}</h4>
          <div class="alert alert-info card-header">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              {{ _("This is the domain that will be used to name and reach your clic box. If you do not already own a domain name, you can pick a free domain ending with .nohost.me, .noho.st or .ynh.fr. It will automatically be configured during the setup.") }}
          </div>
          <div class="card-body">
              <div class="form-group row">
                  <label for="main_domain" class="col-3 col-form-label">{{ _("Main domain") }}</label>
                  <div class="col-9">
                      <input type="text" class="validate form-control" name="main_domain" id="main_domain" placeholder="{{ _("myserver.nohost.me") }}" pattern="^([^\W_A-Z]+([-]*[^\W_A-Z]+)*\.)+([^\W\d_]{2,})$">
                      <div class="invalid-feedback default">
                          {{ _("Please specify a valid domain") }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <div class="col-lg-8 col-sm-10 mb-3">
        <div class="card">
          <h4 class="card-header">{{ _("First user (administrator)") }}</h4>
          <div class="card-body">
              <div class="form-group row">
                  <label for="username" class="col-3 col-form-label">{{ _("Username") }}</label>
                  <div class="col-9">
                      <input type="text" custom-validation class="validate form-control" name="username" id="username" placeholder="{{ _("sasha") }}" pattern="^[a-z0-9_]{3,}$">
                      <div class="invalid-feedback default">
                          {{ _("Please specify a valid username with at least three characters (only lowercase, numbers or _)") }}
                      </div>
                      <div class="invalid-feedback existinguser">
                        {{ _("Please specify a valid username with at least three characters (only lowercase, numbers or _)") }}
                    </div>
                      <div class="invalid-feedback noadmin">
                        {{ _("Don't use root of an existing linux user as username, you fool!") }}
                    </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="fullname" class="col-3 col-form-label">{{ _("Full name") }}</label>
                  <div class="col-9">
                      <input type="text" class="validate form-control" name="fullname" id="fullname" placeholder="{{ _("Sasha Doe") }}" pattern="^([^\W\d_]{2,30}[ ,.'-]{0,3})+$">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="password" class="col-3 col-form-label">{{ _("Password") }}</label>
                  <div class="col-9">
                      <input type="password" class="validate form-control" name="password" id="password" pattern="^.{8,}$">
                      <div class="invalid-feedback default">
                          {{ _("Passwords must be at least 8 characters") }}
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="password_repeat" class="col-3 col-form-label">{{ _("Password (repeat)") }}</label>
                  <div class="col-9">
                      <input type="password" class="validate form-control" name="password_repeat" id="password_repeat" pattern="^.{8,}$" custom-validation>
                      <div class="invalid-feedback default">
                          {{ _("Passwords must be at least 8 characters") }}
                      </div>
                      <div class="invalid-feedback nomatch">
                          {{ _("Passwords do not match") }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    {% for key, values in apps.items() %}
    <div class="col-lg-8 col-sm-10 mb-3">
        <div id="appbundle_{{ key }}" class="card">
          <h4 class="card-header">
              <div class="custom-control custom-switch">
                <input {% if values["required"] %}disabled{% endif %} type="checkbox" class="custom-control-input" name="enable_{{ key }}" id="enable_{{ key }}" {% if values["selected"] %}checked{% endif %} data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="true" aria-controls="collapse{{ key }}" value="enable_{{ key }}" >
                <label class="custom-control-label" for="enable_{{ key }}">{{ values['label'] }}</label>
              </div>
          </h4>
            <div id="collapse{{key}}" class="collapse card-body">
                {{ values['description'] }}
            </div>
        </div>
    </div>
          
    {% endfor %}
<!-- 
    <div class="col-lg-8 col-sm-10 mb-3">
        <div id="wifi" class="card">
            <h4 class="card-header">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="enable_wifi" id="enable_wifi" checked="">
                    <label class="custom-control-label" for="enable_wifi">{{ _("Wifi Hotspot configuration") }}</label>
                </div>
            </h4>
          <div class="collapse show card-body">
              <div class="form-group row">
                  <label for="wifi_ssid" class="col-3 col-form-label">{{ _("Name (SSID)") }}</label>
                  <div class="col-9">
                      <input type="text" class="validate form-control" name="wifi_ssid" id="wifi_ssid" placeholder="{{ _("myNeutralNetwork") }}">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="wifi_password" class="col-3 col-form-label">{{ _("Password") }}</label>
                  <div class="col-9">
                      <input type="password" class="validate form-control" name="wifi_password" id="wifi_password" pattern="^.{8,}$">
                      <div class="invalid-feedback default">
                          {{ _("Passwords must be at least 8 characters") }}
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="wifi_password_repeat" class="col-3 col-form-label">{{ _("Password (repeat)") }}</label>
                  <div class="col-9">
                      <input type="password" class="validate form-control" name="wifi_password_repeat" id="wifi_password_repeat" pattern="^.{8,}$" custom-validation>
                      <div class="invalid-feedback default">
                          {{ _("Passwords must be at least 8 characters") }}
                      </div>
                      <div class="invalid-feedback nomatch">
                          {{ _("Passwords do not match") }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div> -->

    <!-- <div class="col-lg-8 col-sm-10 mb-3">
        <div id="appbundle" class="card">
          <h4 class="card-header">
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" name="custom_appbundle" id="custom_appbundle" checked="0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <label class="custom-control-label" for="custom_appbundle">{{ _("Custom app bundle") }}</label>
              </div>
          </h4>
          <div class="collapse alert alert-info card-header">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              {{ _("You can specify a custom app bundle with a .toml here.") }}
          </div>
          <div id="collapseOne" class="collapse card-body">
              <div class="form-group row">
                  <label for="bundlefile" class="col-3 col-form-label">{{ _(".toml file") }}</label>
                  <div class="custom-file col-9">
                      <input type="file" class="validate custom-file-input" name="bundlefile" id="bundlefile" accept=".toml" custom-validation>
                      <label class="custom-file-label" for="bundlefile">{{ _("Choose file") }}</label>
                      <div class="invalid-feedback default">
                          {{ _("You must provide a valid .toml file to enable the VPN") }}
                      </div>
                      <div class="invalid-feedback invalidtoml">
                          {{ _("Could not load this file as toml ... Is it a valid .toml file ?") }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div> -->

    <div class="col-lg-8 col-sm-10 mb-3">
      <div class="alert alert-warning" role="alert">
        {{ _("By submitting this form, you agree with the terms of services : ") }}<br />
        <a target="_blank" href="https://yunohost.org/terms_of_services">https://yunohost.org/terms_of_services</a>.
      </div>
    </div>
    <div class="col-lg-8 col-sm-10 mb-5 text-center">
        <div id="submit_error" class="text-danger mb-2" style="display: none;"></div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-rocket" aria-hidden="true"></i> {{ _("Let's go!") }}</button> 
    </div>

</div>
</form>
{% endblock %}
